.card-columns {
      column-count: 4;
      width: 75%;
}


  /* responsive control */
@media only screen and (max-width: 800px) {
    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .card-columns {
        column-count: 1;
    }
}